body {
    background-image: url('../images/kitchen_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#gameDiv {
    visibility: hidden;
}

#titleDiv {
    background-color: rgb(255, 255, 255, 0.8);
    margin: 5px 0px;
    border-radius: 3px;
    border: 3px solid black;
}

#title {
    color: black;
    text-align: center;
}

#characters {
    height: 325px;
    margin: 0 0 5px 0;
}

.characterPic {
    height: 150px;
    width: 150px;
    border-radius: 3px;
    border: 3px solid black;
    margin: 5px 0px;
}

.character {
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 3px;
    border: 3px solid black;
}

#battleDiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#fightBtn, #playBtn {
    border: 2px solid black;
}

#battleLog {
    background-color: rgb(255, 255, 255, 0.75);
    text-align: center;
    border-radius: 3px;
    border: 3px solid black;
    margin: 5px 0px;
}